{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
</head>
<body>


{% include 'appini/header.html' %}

<div class="inicial">
    <div class="inicial-inner">
        {% block main_content %}
        {% endblock %}
    </div>
</div>

{% include 'appini/footer.html' %}

</body>
</html>
